/* HOME STYLING */
* {
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
/* MAIN HOME */
#logo {
    width: 100%;
    min-height: 50px;
    padding-left: 2%;
    line-height: 50px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    line-height: 50px;
    margin-bottom: 5px;
    text-align: center;
    border: 5px solid violet;
}
#content {
    width: 100%;
    min-height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 30px;
    border: 5px solid violet;
    margin-bottom: 5px;
    font-family: sans-serif;
}
#main-div {
    width: 100%;
    /* min-height: 400px; */
    background-color: black;
    color: white;

}
#sidebar {
    width: 20%;
    min-height: 400px;
    background-color: orange;
    float: left;
    border: 5px solid black;
    text-align: center;
}
#kontent {
    width: 75%;
    min-height: 400px;
    background-color: orange;
    float: right;
    border: 5px solid black;
    text-align: center;
}
img {
    width: 200px;
    height: auto;
    border: 5px solid black;
    margin-right: 80%;
    margin-top: 60px;
}
img :hover {
    content: url(./images/sl.jpg);
}
.title1 {
    text-align: left;
    margin-left: 40px;
}

